<h1> Edit Media </h1> 

<%= render partial: "form", locals: { action_name: "Edit", title: "#{@work.title}", category: "#{@work.category}", year: "#{@work.year}", description: "#{@work.description}", creator: "#{@work.creator}"}  %>