<div class="works-index"> 
<h1 class="works-header"> List of All Works </h1> 





<h3>Albums </h3>

<%= render partial: "shared/list", locals: { type: @albums } %>



<h3>Books </h3>

<%= render partial: "shared/list", locals: { type: @books } %>


<h3>Movies </h3>

<%= render partial: "shared/list", locals: { type: @movies } %>
</div> 