<div class="form">   
<h3 class="works-header"> New Media </h3>

<% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <li>
        <strong> <%= column.capitalize %> </strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= render partial: "form", locals: { action_name: "Add", title: "", category: "", year: "", description: "", creator: "" }  %>
</div> 