
<div class="form"> 
  <h3> Sign in </h3> 
  <%= form_with model: @user, url: login_path do |f| %>
    <div class="form-group">
      <%= f.label "Username:" %>
      <%= f.text_field :username, class: "form-control" %>
    </div>  
      <%= f.submit "Login" %>
  <% end %>
</div> 