<p> Login </p>



  <%= form_with model: @user, url: login_path do |f| %>
    <div>
      <%= f.label "Username:" %>
      <%= f.text_field :name %>
    </div>  
      <%= f.submit "Login" %>
    
  <% end %>
