<h1> Top Media Here </h1> 


<h3>Albums </h3>

<%= render partial: "shared/list", locals: { type: @albums } %>

<h3>Books </h3>
<%= render partial: "shared/list", locals: { type: @books } %>

<h3>Movies </h3>
<%= render partial: "shared/list", locals: { type: @movies } %>