<h1> Top Media Here </h1> 


<h3>Albums </h3>

<%@albums.each do |album|%>
  <%= album.title %>
<% end %>


<h3>Books </h3>
<%@books.each do |book|%>
  <%= book.title%>
<% end %>

<h3>Movies <%=@movies%></h3>
