// Place all the styles related to the TopMedia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.media-spotlight{
  padding: 5% 5% 3% 5%;
  border: solid white 20px;
}

.top-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3%; 
}
.card {
  padding: 1%;
  margin: 2%;
}

.top-media > div {
  padding: 3%;
}
.top-media > * > h3 {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB
}

.card {
  border:none;
}