// Place all the styles related to the TopMedia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.media-spotlight{
  padding: 5%;
}


.top-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3%;
}

.top-media > div {
  padding: 3%;

}