// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-header{
  padding:3%;
}

.users-index{
  padding-left: 5%;
  width: 90%;
}

.user-show-buttons {
display: grid;
grid-template-columns: 1fr 1fr;
float:left;

}

.user-show-buttons > * {
  padding: 10px;
}