// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.works-header {
  padding: 3%;
}

.works-index {
  padding-left: 5%;
  width: 90%;
}

.works-show-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  padding: 0 10% 5% 2%;
}
